name: '[csvexport] Bump version'
permissions:
  contents: write
on:
  workflow_dispatch:
    inputs: { }
  push:
    branches:
      - main
    paths:
      - 'pkg/csvexport/v2/**'
      - '!**/*.md'
      - '!.github/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: '[csvexport] Bump version and push tag'
        uses: hennejg/github-tag-action@v4.3.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tag_prefix: 'pkg/csvexport/v2/v'
          release_branches: 'main'
